//Primary colors
$primary-dark-color: #20100F;
$primary-medium-color: #2B1211;
$primary-light-color: #674841;

//Secondary colors
$secondary-dark-color: #3E0F0D;
$secondary-medium-color: #8C6961;
$secondary-light-color: #C7BFB3;
$secondary-ultralight-color: #E6DED2;

//Mistake color
$mistake-color: #B74343;

//Success color
$success-color: #BFC088;
